// -----------------------------------------------------------
// MENU by Sebastian Serna - 2019
// -----------------------------------------------------------

.nav,
.nav ul {
  display: flex;
  list-style: none;
  padding-left: 0;
  flex: 1;
  align-items: center;
  height:100%;
}

.nav.is-horizontal {
  flex-direction: row;
}

.nav.is-vertical {
  flex-direction: column;
}

.nav-item,
.nav-item a {
  flex: auto;
  color: inherit;
  text-decoration: none;
  vertical-align: middle;
  text-align: left;
}
