/* ----------------------------------------------
  BUTTON
---------------------------------------------- */

button,
input,
.#{$ns}button {
  /* Global */
  --btn-padding:         10px 10px;
  --btn-text-size:       var(--text-size-small);
  --btn-font-weight:     600;
  
  /* Basic */
  --btn-text:            var(--gray7);
  --btn-border:          var(--gray2) solid 1px;
  --btn-bg:              var(--gray1);
  /* Basic hover */
  --btn-hover-text:      var(--gray9);
  --btn-hover-border:    var(--gray3) solid 1px;
  --btn-hover-bg:        var(--white);
 
  /* Primary */
  --btn-primary-text:    var(--gray1);
  --btn-primary-border:  var(--black) solid 2px;
  --btn-primary-bg:      var(--black);
  /* Primary hover */
  --btn-primary-hover-text:    var(--white);
  --btn-primary-hover-border:  var(--gray9) solid 2px;
  --btn-primary-hover-bg:      var(--gray9);
}


button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  padding: var(--btn-padding);
  color: var(--btn-text);
  border: var(--btn-border);
  background: var(--btn-bg);
  font-size: var(--btn-text-size);
  font-weight: var(--btn-font-weight);
  font-family: sans-serif;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  transition: 0.2s;
  outline: 0; /* Solves Chrome border focus */
}

button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
  color: var(--btn-hover-text);
  border: var(--btn-hover-border);
  background: var(--btn-hover-bg);
}

.#{$ns}button {
  display: inline-block;
  padding: var(--btn-padding);
  color: var(--btn-text);
  border: var(--btn-border);
  background: var(--btn-bg);
  font-size: var(--btn-text-size);
  font-weight: var(--btn-font-weight);
  font-family: sans-serif;
  text-decoration: none;
  vertical-align: middle;
  transition: 0.2s;
  outline: 0; /* Solves Chrome border focus */

  &:hover {
    color: var(--btn-hover-text);
    border: var(--btn-hover-border);
    background: var(--btn-hover-bg);
  }
  
  &.is-primary {
    color: var(--btn-primary-text);
    border: var(--btn-primary-border);
    background: var(--btn-primary-bg);
  }
  
  &.is-primary:hover {
    color: var(--btn-primary-hover-text);
    border: var(--btn-primary-hover-border);
    background: var(--btn-primary-hover-bg);
  }

}



/* ---------------------------------------------- 
 Shapes
---------------------------------------------- */

.is-rounded {
  border-radius: 50px;
  min-width: 100px;
  padding: 10px 20px;
}

.is-pill {
  border-radius: 50%;
  text-align: center;
  padding: 10px 11px;
}

.is-small {
  width: 25px;
  height: 25px;
}

.is-fill {
  width: 100%;
  text-align: center;
}
