/*------------------------------------------------------------
  Icons - Component
------------------------------------------------------------*/

// VARIABLES
// -----------------------------------------------------------

// Icon
$icon-fill-color:                hsl(0,0,40) !default;
$icon-stroke-color:              hsl(0,0,40) !default;
$icon-stroke-width:              0 !default;
// Icon Hover
$icon-hover-fill-color:          hsl(0,0,40) !default;
$icon-hover-stroke-color:        hsl(0,0,40) !default;
$icon-hover-stroke-width:        0 !default;
// Sizes
$icon-size-small:                16px !default;
$icon-size-medium:               24px !default;
$icon-size-large:                32px !default;
$icon-size-huge:                 64px !default;

// STYLES
// -----------------------------------------------------------

.icon {
  display: inline-block;
  width: $icon-size-medium;
  height: $icon-size-medium;
  stroke-width: $icon-stroke-width;
  stroke: $icon-stroke-color;
	fill: currentColor;
	color: $icon-fill-color;
  vertical-align: middle;
  transition:.2s;

  &:hover {
    stroke-width: $icon-hover-stroke-width;
    stroke: currentColor;
    fill: currentColor;
    color: $icon-hover-fill-color;
  }
  //------------------------------
  // Sizes
  //------------------------------
  &.small {
    width: $icon-size-small;
    height: $icon-size-small;
  }
  
  &.medium {
    width: $icon-size-medium;
    height: $icon-size-medium;
  }
  
  &.large {
    width: $icon-size-large;
    height: $icon-size-large;
  }
  
  &.huge {
    width: $icon-size-huge;
    height: $icon-size-huge;
  }

}

/* Icon inside button */

.button .icon,
button .icon,
input[type='reset'] .icon,
input[type='submit'] .icon {
  margin-right: 7px;
}